<h1>UPDATE CLASS: {{className}}</h1>
<input class="log-input" type="text" name="name" id="name" placeholder="Enter Instructor name">
<button class="flt-btn" onclick="updateClass('{{classId}}')">UPDATE CLASS</button> 