<h1>UPDATE USER: {{updateEmail}}</h1>
<input class="log-input" type="text" name="name" id="name" placeholder="Enter User name">
<input class="log-input" type="password" name="password" id="password" placeholder="Enter password" minlength="6">
<button class="flt-btn" onclick="updateUser('{{updateEmail}}')">UPDATE ACCOUNT</button> 