#classesPage {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    color: white;
}

#classesPage #classes-container{
    display: grid;
    row-gap: 20px;
}
#classesPage > h1, #classesPage > p{
    padding:15px;
}

#classesPage .classItemContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display:grid;
    grid-template-columns: 30% 70%;
    background-color: #f1f2f6;
    padding: 10px;
    border-radius: 8px;
    color: black;
}
#classesPage .classDetails {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display:grid;
    row-gap: 10px;
}
#classesPage #inner-p {
    font-size: 15px;
    color: black;
}
#classesPage #inner-span{
    font-size: 20px;
}

#classesPage #inner-span > span{
    font-size: 25px;
    color: blue;
}

#classesPage img{
    width: 300px;
    height: 200px;
    max-width: 100%;
    border-radius: 8px;
}

#already-in-cart{
    margin:10px auto;
    background-color: #eccc68;
    text-align: center;
    width: 40%;
}

.btn-disabled{
    display: block;
    background-color:  #ccc;
    padding: 20px 30px;
    border-radius: 10px;
    width: fit-content;
    margin:0 auto;
    text-decoration: none;
    cursor: not-allowed;
    border: none;
}

/* @media (max-width: 768px) {
    #classesPage #classes-container{
        width: auto;
    }
} */